In [2]:
import pandas as pd

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv('/content/drive/MyDrive/data/real_estate.csv')

In [6]:
df.head()

,real_estate,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,Price,Rooms,Size,Livingrooms,City,District,Type
1,0.0,975000,7,200,2,Khamis Mushait,Mukhatat Al-Mousa,villa
2,1.0,1550000,7,450,3,Khamis Mushait,Mukhatat Al-Mousa,villa
3,2.0,880000,6,300,3,Riyadh,Okaz,villa
4,3.0,1250000,6,275,2,Abha,Al-Qurayqer,villa

In [7]:
df = df.rename(columns={'Unnamed: 1': 'Price', 'Unnamed: 2': 'Rooms' , 'Unnamed: 3': 'Size' , 'Unnamed: 4': 'Livingrooms', 'Unnamed: 5': 'City', 'Unnamed: 6': 'District' , 'Unnamed: 7': 'Type' })

In [8]:
df = df.drop(index=0)

In [9]:
df.head()

,real_estate,Price,Rooms,Size,Livingrooms,City,District,Type
1,0.0,975000,7,200,2,Khamis Mushait,Mukhatat Al-Mousa,villa
2,1.0,1550000,7,450,3,Khamis Mushait,Mukhatat Al-Mousa,villa
3,2.0,880000,6,300,3,Riyadh,Okaz,villa
4,3.0,1250000,6,275,2,Abha,Al-Qurayqer,villa
5,4.0,1200000,7,300,3,Riyadh,Al-Hazm,villa

In [10]:
df.describe()

       real_estate
count  1183.000000
mean    591.000000
std     341.646991
min       0.000000
25%     295.500000
50%     591.000000
75%     886.500000
max    1182.000000

In [11]:
print(df.dtypes)

real_estate    float64
Price           object
Rooms           object
Size            object
Livingrooms     object
City            object
District        object
Type            object
dtype: object

In [12]:
df['Price'] = df['Price'].str.replace(',', '')

In [13]:
df = df.drop('real_estate', axis=1)

In [14]:
df = df.dropna()

In [15]:
df['Price'] = df['Price'].astype(int)

In [16]:
df['Size'] = df['Size'].astype(int)

In [17]:
df['Rooms'] = df['Rooms'].astype(int)

In [18]:
df['Livingrooms'] = df['Livingrooms'].astype(int)

In [19]:
df['City'] = df['City'].astype(str)

In [20]:
df['Type'] = df['Type'].astype(str)

In [21]:
print(df.dtypes)

Price           int64
Rooms           int64
Size            int64
Livingrooms     int64
City           object
District       object
Type           object
dtype: object

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1544 entries, 1 to 1563
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        1544 non-null   int64
 1   Rooms        1544 non-null   int64
 2   Size         1544 non-null   int64
 3   Livingrooms  1544 non-null   int64
 4   City         1544 non-null   object
 5   District     1544 non-null   object
 6   Type         1544 non-null   object
dtypes: int64(4), object(3)
memory usage: 96.5+ KB
None

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
scaler = MinMaxScaler()

In [25]:
df['Price'] = scaler.fit_transform(df[['Price']])

In [26]:
df['Size'] = scaler.fit_transform(df[['Size']])

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le = LabelEncoder()

In [29]:
df['City'] = le.fit_transform(df['City'])

In [30]:
pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.1-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.1

In [31]:
import category_encoders as ce

In [32]:
encoder = ce.BinaryEncoder(cols=['Type'])

In [33]:
df = encoder.fit_transform(df)

In [34]:
num_unique_districts = df['District'].nunique()

In [35]:
print("Number of unique districts:", num_unique_districts)

Number of unique districts: 169

In [36]:
df['District'] = le.fit_transform(df['District'])

In [37]:
print(df.head())

      Price  Rooms      Size  Livingrooms  City  District  Type_0  Type_1
1  0.038673      7  0.066355            2     0       136       0       1
2  0.070214      7  0.149717            3     0       136       0       1
3  0.033461      6  0.099700            3    24       144       0       1
4  0.053758      6  0.091364            2     1        49       0       1
5  0.051015      7  0.099700            3    24        31       0       1

In [38]:
import numpy as np

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [40]:
X = df.drop('Price', axis=1)
y = df['Price']

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
lr = LinearRegression()

In [43]:
lr.fit(X_train, y_train)

LinearRegression()

In [44]:
y_pred = lr.predict(X_test)

In [45]:
mse = mean_squared_error(y_test, y_pred)

In [46]:
r2 = r2_score(y_test, y_pred)

In [47]:
print("Mean squared error:", mse)

Mean squared error: 0.0013583073091705407

In [48]:
print("R-squared:", r2)

R-squared: 0.5225556526956826

In [49]:
results = X_test.copy()
results['Price_predicted'] = y_pred

# Print the results DataFrame
print(results)

      Rooms      Size  Livingrooms  City  District  Type_0  Type_1  \
1512      7  0.000333          360     0       136       1       0
544       7  0.069690            2     8       163       0       1
1274      6  0.000000          350     0       136       1       0
529       7  0.121374            2     8       115       0       1
1095      5  0.091364            3    24       110       0       1
...     ...       ...          ...   ...       ...     ...     ...
1229      5  0.000000          184    15        53       1       0
757       6  0.143715            2    15        48       0       1
1250      6  0.000000          300     0       136       1       0
753       5  0.135712            3    24        95       0       1
870       5  0.139713            1    13       127       0       1

      Price_predicted
1512         0.025793
544          0.025008
1274         0.021926
529          0.055994
1095         0.077576
...               ...
1229         0.023879
757          0.091516
1250         0.008638
753          0.100003
870          0.071306

[309 rows x 8 columns]

In [52]:
Labels = ['Rooms', 'Size', 'Livingrooms', 'City', 'District', 'Type_0', 'Type_1']

In [53]:
coef_dict = dict(zip(Labels, lr.coef_))

In [54]:
print(coef_dict)

{'Rooms': 0.0010588885602503919, 'Size': 0.4519680550712711, 'Livingrooms': 0.00026576187202798085, 'City': 0.002262718283890436, 'District': -0.00015888128587918104, 'Type_0': -0.024599275019809033, 'Type_1': 0.024599275019804318}